<div id="<%= dom_id user %>">
  <h4>
    <strong>Username:</strong>
    <%= user.username %>
  </h4>
  <% if !user.active %>
    <div class='btn btn-primary btn-sm'> closed </div>
  <% end %>

</div>
