<h2>List of ratings</h2>
<p>
    <%= link_to 'create new rating', ratings_new_path %>
</p>
<ul>
 <% @ratings.each do |rating| %>
   <li> <%= render rating %> </li>
 <% end %>
</ul>
<p>
    Number of ratings:
    <%= @ratings.count %>
</p>