
<%= render @style %>
<ul>
  <h4>beers:</h4>
    <% @beers&.each do |beer| %>
      <li>
        <%= beer.name %>
      </li>
    <% end %>
</ul>

<div>
  <%= link_to "Back to beer styles", styles_path %>

  <%= edit_and_destroy_buttons(@style) %>
</div>
